@import "fonts.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --btn-bg-color:#453E37;
  --text-golden:#E6A691;
  --text-black:#453E37;
  --font-sans: Overused Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  --section-2-p:#59534B;
}

p{
  margin: 0px;
  padding: 0px;
}

#wrapper{
  background: rgba(255, 251, 245, 0.80);
  padding:1vw 4.1vw 1vw 4.23vw;
}

.nav-section{
  padding: 0px;
}
  
.container-fluid{
  padding: 0px;
}

.logo{
  width: 3vw;
  height: 2.7vw;
}

.astor-img{
  width: 6vw;
  height: 1.5vw;
  margin-bottom: 0.4vw;
}

.custom-btn{
  /* all: unset; */
  font-family: 'Overusedgrotesk', sans-serif;
  box-sizing: border-box;
  border: 0px;
  height: 3.1vw;
  padding:0.79vw 2.1vw;
  background-color: var(--btn-bg-color);
  border-radius: 16px;
  color:#FFFBF5;
  font-weight: 600;
  line-height: 110%;
  font-style: normal;
  font-size: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


#section-1{
  padding-left: 7.8vw;
  padding-right: 0px;
  height: 43.65vw;
  overflow: hidden;
}

#section-1 .row{
  display: flex;
  gap: 1.5vw;
}

.section-1-content{
  display: flex;
  flex-direction: column;
  gap: 2.4vw;
  align-items: start;
}

.section-1-part-1{
  display: flex;
  flex-direction: column;
  gap: 2.97vw;
  margin-top: 10.7vw;
}


.section-1-part-1 h1,.section-8-heading{
  font-weight: 400;
  font-size: 4.2vw;
  letter-spacing: -1px;
  line-height: 100%;
  font-family: 'Playfair Display', serif;
  color: #453E37;
}

.section-1-part-2 p{
  font-size: 1.32vw;
  font-weight: 400;
  line-height: 140%;
  color: #59534B;
  font-weight:400;
  letter-spacing: -0.3px;
  font-family: 'Overusedgrotesk', sans-serif;
}

.section-1-part-2{
  width: 31.87vw;
}

.section-1-form{
  border-radius: 16px;
  background: #F5EEE4;
  padding: 0.2vw;
}

.custom-btn-2{
  all: unset;
  height: 3.17vw;
  box-sizing: border-box;
  background-color: var(--btn-bg-color);
  padding: 0.8vw 2.11vw;
  color:#FFFBF5 ;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.3px;
}



.section-1-input{
  all: unset;
  display: inline-block;
  font-size: 1.2vw;
  width: 16.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5vw;
  font-style: normal;
  line-height: 110%;
  font-size: 1.2vw;
  font-family: 'Hanken Grotesk', sans-serif;
  color: #ACA59B;
}

.custom-btn-3{
  background-color: #B89776;
  margin-left: 1.7vw;
}

.img-1-div{
  padding-top: 5.4vw;
}

.img-1{
  width: 47vw;
}


#section-2{
  background-color: #F5EEE4;
  border-radius: 32px;
  overflow: hidden;
  margin-bottom: 2.6vw;
}



.section-2-content{
  display: flex;
  flex-direction: column;
  gap: 2.1vw;
  padding-top: 13.5vw;
  max-width: 29.7vw;
  margin-left:7vw;
}


.section-2-heading{
  font-size: 3.17vw;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
  color: #453E37;
}


.section-2-content p{
  font-family: 'Overusedgrotesk', sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: var(--section-2-p);
}

.section-2-img{
  padding-top: 4.1vw;
  padding-top: 7vw;
}

.img-2{
  width: 45.8vw;
  height: 38.1vw;
}

.fake-p{
  max-width: 29.7vw;
  color: #837B72;
  font-size: 1vw;
  font-family: 'Overusedgrotesk', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.3px;
  margin-top: 9.5vw;
  margin-bottom: 1vw;
}

#section-3{
  background-color: #D2E6E2;
  border-radius: 32px;
  overflow: hidden;
  margin-bottom: 2.6vw;
}

.section-3-content{
  display: flex;
  flex-direction: column;
  gap: 2.1vw;
  margin-top: 13.5vw;
  margin-left: 7.8vw;
  margin-bottom: 12.5vw;
}

.section-3-heading{
  color: #509797;
  font-size: 3.17vw;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
  width: 26vw;
}

.section-3-content p{
  font-family: 'Overusedgrotesk', sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: var(--section-2-p);
  margin: 0px;
  text-align: start;
  width: 29.8vw;
}

.img-3-div{
  padding-left: 2.5vw;
  position: relative;
  top: 2.8vw;
}

.img-3{
  width: 43.3vw;
}

#section-4{
  background-color: #F5EEE4;
  border-radius: 32px;
  overflow: hidden;
  margin-bottom: 2.6vw;
}

.img-4-div{
  padding-left: 3vw;
  padding-top: 2vw;
  position: relative;
  top: 0.5vw;
}

.img-4{
  width: 37vw;
  object-fit: contain;
  height: 36vw;
}

.section-4-full-content{
  width: 29vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  margin: 0px;
  margin-left: 4.8vw;
}

.section-4-content{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 6.7vw;
}

.section-4-heading{
  color: var(--text-golden);
  font-size: 3.17vw;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
}

.section-4-content p{
  font-family: 'Overusedgrotesk', sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: var(--section-2-p);
  margin: 0px;
  text-align: start;
}


.section-4-last-p{
  color: #837B72;
  font-size: 1vw;
  font-family: 'Overusedgrotesk', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.3px;
  line-height: 140%;
  margin: 0px;
}

#section-5{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #FBEBCC;
  border-radius: 32px;
  margin-bottom: 2.6vw;
}

.section-5-content{
  display: flex;
  flex-direction: column;
  gap: 2.1vw;
  margin-top: 9.12vw;
  margin-left: 7.8vw;
  margin-bottom: 9vw;
}

.section-5-heading{
  color: #B89776;
  font-size: 3.17vw;
  width: 24vw;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
  margin: 0px;
}

.section-5-content p{
  font-family: 'Overusedgrotesk', sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: var(--section-2-p);
  margin: 0px;
  text-align: start;
  width: 29vw;
}

.img-5-div{
  margin: 4.9vw 6.8vw 4.1vw 6.4vw;
}

.img-5{
  width: 32.2vw;
}

.col-sm-6{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.col-sm-5,.col-sm-12,.col-12{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.row{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#section-6{
  margin-bottom: 2.6vw;
}

.card-1{
  width: 44vw;
  background-color:#D4DBE5;
  border-radius: 24px;
  padding: 1.5vw 0vw 2.11vw 2.11vw;
}

.icon-1{
  margin-bottom: 1.38vw;
}

.card-1 h3 , .card-2 h3, .card-3 h3{
  color: #453E37;
  font-family: 'Playfair Display', serif;
  font-size: 2.1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1px;
  margin-bottom: 1.38vw;
}

.card-1-p{
  width: 37vw;
  color: #59534B;
  font-style: normal;
  font-family: 'Overusedgrotesk', sans-serif;
  font-size: 1vw;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.3px;
  margin-bottom: 1.38vw;
}

.card-1-values{
  display: flex;
}

.value{
  width: 12.8vw;
  border-radius: 16px;
  background-color:rgba(255, 251, 245, 0.6);
  color: #6369A9;
  font-size: 2.6vw;
  font-style: normal;
  font-weight: 600;
  line-height: 98%;
  letter-spacing: -1px;
}

#value-1{
  margin-right: 0.9vw;
  padding: 1.4vw 5.4vw 1.3vw 1vw;
}

#value-2{
  margin-right: 0.9vw;
  padding: 1.4vw 0vw 1.3vw 1vw;
}

#value-3{
  padding: 1.4vw 0.9vw 1.4vw 1vw;
}

.icon-2 ,.icon-3{
  width: 3.17vw;
  margin-bottom: 1.38vw;
}

.card-2{
  width: 20.8vw;
  border-radius: 24px;
  background-color: #D2E6E2;
  padding: 1.5vw 2.11vw 2.11vw 2.11vw;
  margin-left: 0.2vw;
}

.card-2-p, .card-3-p{
  width: 16vw;
  color: #59534B;
  font-style: normal;
  font-family: 'Overusedgrotesk', sans-serif;
  font-size: 1vw;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.3px;
  margin: 0px;
}

.card-3{
  background-color: #EBD2D6;
  border-radius: 24px;
  padding: 1.5vw 2.11vw 2.11vw 2.11vw;
}

#section-7{
  margin-bottom: 2.6vw;
}

.section-7-col-1,.section-7-col-3{
  padding-right: 2.6vw;
  padding-bottom: 2.6vw;
}

.section-7-heading{
  color: #453E37;
  font-family: 'Playfair Display', serif;
  margin: 3.2vw 15.5vw 0vw 15.5vw;
  text-align: center;
  font-size: 3.1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
  margin-bottom: 5vw;
}

.section-7-card-1,.section-7-card-2,.section-7-card-3,.section-7-card-4{
  border: 2px solid #EAE2D5;
  border-radius: 32px;
  padding: 3.17vw 6vw;
}

.icon-4{
  margin-bottom: 1.1vw;
}

.section-7-card-1 h3,.section-7-card-2 h3,.section-7-card-3 h3,.section-7-card-4 h3{
  width: 25.8vw;
  color: #453E37;
  font-family: 'Playfair Display', serif;
  font-size: 2.1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1px;
  margin-bottom: 1.58vw;
}

.section-7-card-1 p,.section-7-card-2 p,.section-7-card-3 p,.section-7-card-3 p,.section-7-card-4 p{
  color:#59534B;
  font-size: 1.19vw;
  font-family: 'Overusedgrotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.3px;
}

#special-card{
  position: relative;
  bottom: 7.5vw;
}

#section-8{
  margin-bottom: 2.6vw;
}

.section-8-content{
  margin: 4.6vw 23.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-8-heading{
  font-weight: 400;
  font-size: 4.2vw;
  letter-spacing: -1px;
  line-height: 100%;
  font-family: 'Playfair Display', serif;
  color: #453E37;
  margin-bottom: 2.9vw;
}

#section-9{
  background-color: #F5EEE4;
  border-radius: 32px;
  margin-bottom: 3.2vw;
}

.section-9-content{
  display: flex;
  margin: 4vw 6.2vw 3.04vw 7.07vw;
}

.icon-5{
  margin-bottom: 2.1vw;
}

.copyright{
  max-width: 29.7vw;
  color: #979086;
  font-size: 1vw;
  font-family: 'Overusedgrotesk', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.3px;
}

.content-right-part{
  width: 32vw;
  margin-left: 23vw;
  display: flex;
  flex-direction: column;
  gap: 3.37vw;
  align-items: end;

}

.company-information{
  display: flex;
  gap: 3.17vw;
}

.company-information a{
  text-decoration: none;
  color: #453E37;
  font-family: 'Playfair Display', serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1px;
}

.social-handles{
  text-align: end;
}
